<html>
    <head>
        <title>Ds Stalker!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles/rbm-complete.css" rel="stylesheet">
        <link href="/styles/app.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div id="app">
                <%- body %>
            </div>
        </div>
        <%- state %>
        <script src="/assets/main.js"></script>
        <script src="http://localhost:8081/webpack-dev-server.js"></script>
    </body>
</html>
<!--"styles/bootstrap.min331.css" If I add this fonts dont get embeded and I get no glyph icons.-->