$primaryColor: #ffcda1;

body {
  background: $primaryColor;
}

.register {

    max-width: 40em;
    margin: 0 auto 10px;


  .resetButton{
      float:right;
  }

  .submitButton {
    float:right;
  }
}

.firstname{
  display:none;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}